<table class="table table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Valet Summary Report</th>
            <th scope="col">Last Updated</th>
        </tr>
    </thead>
    <tbody>
        <% list.forEach(function (clientAccount) { %>
        <tr>
            <td scope="row">
                <!-- Edit account button -->
                <a href="#" data-toggle="tooltip" title="Edit account">
                    <button class="btn btn-sm" data-toggle="modal" data-target="#editUserModal"
                        data-user_id="<%= user._id %>" data-name="<%= user.name %>" data-email="<%= user.email %>"
                        data-account_type="<%= user.accountType %>" data-valet_summary_url="<%= user.valetSummaryURL %>"
                        data-employee_position="<%= user.position %>"><i class="fas fa-edit"></i></button></a>
                <!-- Delete account button -->
                <a href="#" data-toggle="tooltip" title="Delete user">
                    <button class="btn btn-sm" data-toggle="modal" data-target="#deleteUserModal"
                        data-user_id="<%= user._id %>" data-name="<%= user.name %>" data-email="<%= user.email %>"><i
                            class="fas fa-trash"></i></button></a>
            </td>
            <td><%= clientAccount.name %></td>
            <td><%= clientAccount.address %></td>
            <td><% if (clientAccount.valetSummaryURL != '') { %>
                <i class="fas fa-check"></i>
                <% } else { %>
                <i class="fas fa-times"></i>
                <% } %></td>
            <td><%= clientAccount.date.toLocaleDateString() + ' ' + clientAccount.date.toLocaleTimeString() %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% include ./edit-user-modal %>
<% include ./reset-password-modal %>
<% include ./delete-user-modal %>